<!DOCTYPE html>
<html lang='en'>
 <head>
     <title>{{.Title}}</title>
  <meta charset='utf-8'>
  <style>
@page {
    margin: {{.Margin}};
    padding: 0cm;
}
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
}
th {
    text-align: left;
	font-weight: bold;
	border: 1px solid #dddfe1;
}
td {
	padding: 3px;
	color: #636363;
	border: 1px solid #dddfe1;
}
td:first-child {
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  </style>
  <script>
  </script>
 </head>
 <body>
     {{.Content}}
 </body>
</html>
